server:
  port: 8081
  servlet:
    context-path: /profile

spring:
  application:
    name: profile-service
  neo4j:
    uri: bolt://localhost:7687
    authentication:
      username: neo4j
      password: 12345678

app:
  services:
    file:
      default-avatar: http://localhost:8888/api/v1/file/media/download/9faaaad8-359f-4cc8-b5da-8194dc0e23db.jpg
