server:
  port: 8086
  servlet:
    context-path: /chatbot
spring:
  application:
    name: AI-service
  datasource:
    url: jdbc:postgresql://localhost:5432/ai-service
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  ai:
    openai:
      api-key: AIzaSyAfNSoF2zymy7KaQfZzqnfzd92GRytzJks
      chat:
        base-url: https://generativelanguage.googleapis.com
        completions-path: /v1beta/openai/chat/completions
        options:
          model: gemini-2.0-flash
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always
